<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Booking Records</title>
    <style>
      table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
      }
      table,
      th,
      td {
        border: 1px solid black;
      }
      th,
      td {
        padding: 10px;
        text-align: left;
      }
      th {
        background-color: #f2f2f2;
      }
    </style>
  </head>
  <body>
    <h2>Booking Records</h2>

    <table>
      <thead>
        <tr>
          <th>Full Name</th>
          <th>Vehicle</th>
          <th>To</th>
          <th>From</th>
          <th>Message</th>
          <th>status</th>
          <th>posting date</th>
          <th>action</th>
        </tr>
      </thead>
      <tbody>
        <% bookings.forEach(booking => { %>
          <tr>
            <td><%= booking.fname %></td>
            <td><%= booking.vehicle %></td>
            <td><%= booking.from %></td>
            <td><%= booking.to %></td>
            <td><%= booking.message %></td>
            <td><%= booking.status %></td>
            <td><%= new Date(booking.postingDate).toLocaleDateString() %></td>
            <td>
              <form action="/admin/update-booking/<%= booking._id %>" method="POST">
                <button type="submit" name="status" value="Confirmed">Confirm</button>
                <button type="submit" name="status" value="Cancelled">Cancel</button>
                 <a href="/admin/delete3/<%= booking._id %>" class="delete">Delete</a>
              </form>
            </td>
            
          </tr>
        <% }) %>
      </tbody>
      
    </table>
  </body>
</html>
